/* Styles specific to home page */

.home-header 
{
	padding-top: calc(var(--feather-grid-mega) * 3);
	padding-bottom: calc(var(--feather-grid-mega) * 1.75);
}

.grey
{
    background-color: var(--tw-color-gray-faint);
}

