@import "../../../design-patterns/constants.scss";

.landingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    outline: 3px;
}

.continueButton{
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    color: white;
    border: 1px solid #FFFF; /* Green */
    height: 30px;
    width: 125px;
    opacity: 0.6;
    transition: all .5s;
    padding-bottom: 4px;
    
    &:hover{
        opacity: 1;
    };

}

.screenContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.portfolioSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sectionTitle{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 25%;
}

.centerText{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profileImage {
    margin-top: 10%;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}




img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}


.body {
    min-height: 100vh;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}
  
.name {
    font-size: calc(24px + 4vmin);
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 5%;
}

.listTitle {
    font-weight: bold;
}


.listContainer {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-bottom: 3%;
}

.list {
    min-width: 30%;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}
  

@media screen and (max-width: 550px) {
    .about {
      width: 90%;
    }
    .name {
        font-size: calc(24px + 3vmin);
    }
    .listContainer {
        flex-direction: column;
    }
    .list {
        font-size: calc(20px + 1vmin);
        margin-bottom: 2%;
    }

}