@import "../../../design-patterns/constants.scss";

.logo{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    left: 0;
}
.navbar {
    height: $navbarHeight;
    z-index: 9999;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
    flex-grow: 1;
    // justify-content: center;
    background-color: transparentize($color: black, $amount: .25);
}
.navbarColapse{
    justify-content: flex-end
}
.brand{
    // width: 100%;
}
.navbarToggle{
    position: absolute;
    right: 20px;
    top: 6px;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.navLink{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    height: 40px;

    &:hover{
        color: coral;
    }
}


.landingContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    outline: 3px;
}
.continueButton{
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    color: white;
    border: 1px solid #FFFF; /* Green */
    height: 30px;
    width: 125px;
    opacity: 0.6;
    transition: all .5s;
    padding-bottom: 4px;
    
    &:hover{
        opacity: 1;
        color: coral;
    };

    &:focus{
        outline: none;
        box-shadow: none;
    }

}
.screenContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: $sectionHeight + $navbarHeight;
    padding-top: $navbarHeight;
}
.workSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: $sectionHeight + $navbarHeight;
    padding-top: $navbarHeight;
    background-color: #131313;
}

.influentialSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: $sectionHeight + $navbarHeight;
    padding-top: $navbarHeight;
    background-color: rgb(65, 65, 65)

}
.contactSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: $sectionHeight - 300 + $navbarHeight;
    padding-top: $navbarHeight;
    background-color: #131313
}
.contactIconContainer{
    display: flex;
    padding-top: 10%;
    width: 100vw;
    justify-content: space-evenly;
}
.contactIcon{
    display: flex;
    position: relative;
    padding: 5px;
    margin: 15px;
    border-radius: 20%;    
	transition-duration: .25s;
    transition-property: transform;

    color: white;
    background-color: rgb(104, 104, 104);

	&:hover {
		transform: translateY(-15%); /* move the element up by 5px */
        color: coral;

		&:before {
			opacity: 1;
			transform: translateY(15%); /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
		}
	}
}
.icon{
    width: auto;
    height: 20vh;
}


.sectionTitle{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-weight: bold;
}
.centerText{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profileImage {
    margin-top: 10%;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}


.body {
    min-height: 100vh;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}
.name {
    font-size: calc(24px + 4vmin);
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 5%;
}
.listTitle {
    font-weight: bold;
}
.listContainer {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-bottom: 3%;
}
.list {
    min-width: 30%;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}  

@media screen and (max-width: 550px) {
    .about {
      width: 90%;
    }
    .name {
        font-size: calc(24px + 3vmin);
    }
    .listContainer {
        flex-direction: column;
    }
    .list {
        font-size: calc(20px + 1vmin);
        margin-bottom: 2%;
    }

}
@media screen and (max-width: 767px) {
    .navbar {
        display: table;
    }
    .sectionTitle{
        font-size: 5vw;
    }
    .icon{
        width: auto;
        height: 18vh;
    }
}
@media (min-height: 50px) {
    .navbar {
        position: sticky;
        top: 0;
    }
}
