@import "../../design-patterns/constants.scss";


.moduleBody {
    min-height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}

.item {
    min-width: 100%;
    padding-top: 10%;
}

.title {
    font-size: calc(5px + 10vmin);
    text-align: center;
    font-weight: bold;
}

  
.moduleSkill {
    min-width: 100%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}
  