@import "../../design-patterns/constants.scss";


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-right: 5px;

  margin: 10px;
  padding: 10px;

  font-size: 18px;
  font-weight: bold;


  border-color: #7777;
  border-style: solid;
}

.repoRow{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.repo{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px;
  font-size: 18px;
}

.repoLink{
  font-weight: bold;

  &:hover{
    color: coral;
  }
}

.dateRow{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dateText {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: rgb(0, 88, 0);
}



@media screen and (max-width: 550px) {
  .text{
    font-size: 10px;
  }
  .repoRow{
    font-size: 12px;
  }
  .dateRow{
    display: none;
  }
  .blinkyGreen{
    display: none;
  }
}
