@import "../../design-patterns/constants.scss";


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-right: 5px;

  margin: 10px;
  padding: 10px;

  font-weight: bold;

  border-color: #7777;
  border-style: solid;
}

.repoRow{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.repo{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px;
}

.repoLink{
  color: whitesmoke;
  opacity: .5;
  font-weight: bold;

  &:hover{
    color: coral;
    opacity: 1;
    text-decoration: none;
  }
}

.dateRow{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.dateText {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: whitesmoke;
  opacity: .5;
}



@media screen and (max-width: 750px) {
  .repoRow{
    flex-direction: column;
  }
  .dateRow{
    display: none;
  }
  .blinkyGreen{
    display: none;
  }
}
