@import "../../design-patterns/constants.scss";


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 5px;
}

.repoRow{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dateRow{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dateText {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  color: darkgreen;
}

.blinkyGreen {
display: flex;    
margin-right: 5px;
width: 14px;
height: 14px;
background-color: $lightColorGreen;

border-radius: 50%;
box-shadow: rgba(0, 0, 0, 0.2);
animation: blinkGreen 1s infinite;
}

@keyframes blinkGreen {
  from { background-color: $lightColorGreen;}
  50% { background-color: $fadeColorGreen; }
  to { background-color: $lightColorGreen; }
}

.text{
  font-size: 18px;
}


@media screen and (max-width: 550px) {
  .text{
    font-size: 10px;
  }
  .repoRow{
    font-size: 12px;
  }
  .dateRow{
    display: none;
  }
  .blinkyGreen{
    display: none;
  }
}
