$font: "Helvetica Neue", Helvetica, sans-serif;
$breakpoint: 800px;

$lightColorGreen: rgb(54, 97, 52);
$fadeColorGreen: rgb(27, 50, 27);

$backgroundColor: rgb(34, 34, 34);
$accentColor: #282c34;


$linkColor: rgb(128, 128, 128);
$vistedColor : rgb(50, 50, 50);
$hoverColor: teal;
// $activeColor: teal;


$fontMainColor: rgb(237, 237, 237);

$navbarHeight: 56px;

$sectionHeight: 1000px;