@import "../../design-patterns/constants.scss";


.profileImage {
    margin-top: 10%;
}

img {
    // height: auto;
    /* Magic! */
    max-width: 40vw;
    max-height: 40vw;
}

.body {
    min-height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}
  
.name {
    font-size: calc(24px + 4vmin);
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 5%;
}

.about {
    display: flex;
    width: 85%;
    font-size: calc(12px + 2vmin);
    margin-bottom: 3%;
}

.listTitle {
    font-weight: bold;
}


.listContainer {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-bottom: 3%;
}

.list {
    min-width: 30%;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}
  

@media screen and (max-width: 550px) {
    .about {
      width: 90%;
    }
    .name {
        font-size: calc(24px + 3vmin);
    }
    .listContainer {
        flex-direction: column;
    }
    .list {
        font-size: calc(20px + 1vmin);
        margin-bottom: 2%;
    }

}