


/* ----- NavBar ----- */

.nav-ul{
  list-style: none;
  margin: 5px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.navbar-custom {
  background-color: rgb(34, 34, 34);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #09d3ac;
}

.selected {
  color: #09d3ac;
  text-decoration-color: #282c34;
}



/* ----- Main Body of CSS ----- */

.App-body {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

/* --- Profile Image & Title --- START */
.App-img {
  margin-top: 10%;
  margin-bottom: 3% ;
}

.MainTitle{
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10%;
}

/* --- Profile Image & Title --- END */

.App-header {
  margin-left: calc(10px + 1vmin);
  margin-right: calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: stretch;
}

/* .App-container {
  min-height: fit-content;
  display: flex;
  font-size: calc(4px + 2vmin);
} */

.App-description {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  font-size: clac(9px + 1vmin);
  text-align: center;
}

.App-footer {
  background-color: rgb(34, 34, 34);
  color: rgba(255,255,255,.8);

  display: flex;
  justify-content: center;
  /* flex-shrink: 0; */
  /* font-size: calc(10px + 1vmin); */

  align-items: center;
  text-align: center;
}


/* ----- COLOR ----- */

.Text_color_offwhite {
  color: rgba(255,255,255,.8);
}

.App-link {
  color: #09d3ac;
}

.white {
  color: aliceblue;
}

.dorianGrey {
  color: rgb(34, 34, 34);
}

.Section_color {
  /* background-color: rgb(40, 40, 40); */
  min-width: 100%;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

/* ----- ALIGN ----- */

.Align-right{
  justify-content: flex-end;
}

.grid-hero{
display: grid;
gap: 5px;
grid-template-columns: repeat( 3 , 1fr);
justify-items: center;
}


/* probably should move this... */
/* --- skills section css --- START*/

ul{
  font-size: calc(5px + 2vmin);
  list-style-type: circle;
}

.Title{
  /* font-size: 24px; */
  margin-left: 10px;
  font-size: calc(12px + 2vmin);
  font-weight: bold;
}
.SubTitle{
  /* font-size: 18px; */
  font-size: calc(12px + 1.5vmin);
  font-weight: bold;
}

/* --- skills section css --- END*/



/* might not need:  */
/* --- Mobile --- */ 

/* @media (max-width: 600px){
  .grid-hero{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat( 3 , 1fr);
    justify-items: center;
    }
  
} */