@import "../../design-patterns/constants.scss";

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-top: 5px;
  margin-bottom: 5px;

  width: 100%;
  color: #333;
}


.navbarOp {
  display: flex;
  flex-direction: row;
  align-items: center;  
  padding-bottom: 10px;
  padding-left: 100px;
  font-size: 24px;

}

.navbarAlignRight {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: flex-end;
  flex-wrap: nowrap;

  width: 100%;
  margin-right: 50px;
  // font-weight: bold;
}

@media screen and (max-width: 550px) {
  .navbarOp{
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

  }
  .navbarAlignRight{  
    font-size: 15px;
    margin-right: 30px;

  }
}

@media screen and (max-width: 320px) {
  .navbarOp{
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

  }
  .navbarAlignRight{  
    font-size: 12px;
    margin-right: 20px;
  }
}


.links {
  display: flex;
}

.link {
  display: flex;
  padding: 15px;

  &:hover {
    cursor: pointer;
    color: $hoverColor;
  }
}

.activeLink {
  display: flex;
  padding: 15px;

  &:hover {
    cursor: pointer;
    color: $hoverColor;
  }
}

